USE [NS20211]
GO
/****** Object:  StoredProcedure [dbo].[sp_VendorDetails]    Script Date: 07-04-2023 11:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_VendorDetails](
                         @Mode varchar(50)              = NULL,
                         @V_CODE varchar(40)            = NULL,
						 @V_A_NAME varchar(40)          = NULL,
						 @V_A_CODE varchar(40)          = NULL,
						 @CASH_TYPE_SAVE INT            = NULL,
	                     @RecordFrom     INT            = NULL,
						 @RecordTo       INT            = NULL
					
)  
as  
Begin  
  SET NOCOUNT ON;

     DECLARE
          @SelectStatement      NVARCHAR(MAX),
          @ConditionStatement   NVARCHAR(MAX),
		  @ConditionStatement1   NVARCHAR(MAX),
		  @ConditionStatement2   NVARCHAR(MAX),
          @CountValue           VARCHAR(50),
          @SelectStatementCount NVARCHAR(MAX),
          @ParmDef              NVARCHAR(50)


  IF(@Mode='GetVendor')
               BEGIN
			   
			   IF(@V_CODE IS NOT NULL or  @V_A_NAME IS NOT NULL or @V_A_CODE IS NOT NULL)
					  BEGIN
					  
			    IF(@V_CODE IS NOT NULL) OR (LEN(@V_CODE) > 0)
                            BEGIN
                            
							 SET @ConditionStatement = CONCAT(@ConditionStatement,' V_CODE = ''',@V_CODE,''' AND ')
							 SET @ConditionStatement1 = CONCAT(@ConditionStatement1,' C_CODE = ''',@V_CODE,''' AND ')
							 SET @ConditionStatement2 = CONCAT(@ConditionStatement2,' EMP_NO = ''',@V_CODE,''' AND ')
                            END
                       
                        IF(@V_A_NAME IS NOT NULL) OR (LEN(@V_A_NAME) > 0)
                            BEGIN
                          
							 SET @ConditionStatement = CONCAT(@ConditionStatement,' V_A_NAME = ''',@V_A_NAME,''' AND ')
							  SET @ConditionStatement1 = CONCAT(@ConditionStatement1,' C_A_NAME = ''',@V_A_NAME,''' AND ')
							   SET @ConditionStatement2 = CONCAT(@ConditionStatement2,' EMP_L_NM = ''',@V_A_NAME,''' AND ')
                            END
						  IF(@V_A_CODE IS NOT NULL) OR (LEN(@V_A_CODE) > 0)
                            BEGIN
                            
							 SET @ConditionStatement = CONCAT(@ConditionStatement,' V_A_CODE = ''',@V_A_CODE,''' AND ')
							  SET @ConditionStatement1 = CONCAT(@ConditionStatement1,' C_A_CODE = ''',@V_A_CODE,''' AND ')
							   SET @ConditionStatement2 = CONCAT(@ConditionStatement2,' A_CODE = ''',@V_A_CODE,''' AND ')
                            END
							
							IF(@ConditionStatement <> '') OR (LEN(@ConditionStatement) > 0) OR (@ConditionStatement IS not NULL)
							Begin
							set @ConditionStatement =CONCAT(Left(@ConditionStatement,LEN(@ConditionStatement)-4), '  ')
							set @ConditionStatement1 =CONCAT(Left(@ConditionStatement1,LEN(@ConditionStatement1)-4), '  ')
							set @ConditionStatement2 =CONCAT(Left(@ConditionStatement2,LEN(@ConditionStatement2)-4), '  ')
							
							End
                    SET @SelectStatement = N'WITH NS_AP_V_DETAILSTable AS ( SELECT * FROM ('
                    SET @SelectStatement = CONCAT(@SelectStatement,'SELECT ROW_NUMBER() OVER(ORDER BY V_CODE)as RowNumber,@CountValue as TotalRowCount, ')
					--SET @SelectStatement = CONCAT(@SelectStatement,'select ')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V_CODE,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V_A_NAME,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V_A_CODE')
                    SET @SelectStatement = CONCAT(@SelectStatement,' FROM NS_AP_V_DETAILS  where 1=1 and ',@ConditionStatement)
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select ROW_NUMBER() OVER(ORDER BY C_CODE) + (SELECT COUNT(*) FROM NS_AP_V_DETAILS  where 1=1 and ' +@ConditionStatement+' ) AS RowNumber,
					@CountValue as TotalRowCount,C_CODE as ''V_CODE'',C_A_NAME as ''V_A_NAME'',C_A_CODE as ''V_A_CODE'' from NS_AR_CUSTOMER C where 1=1 and  ',@ConditionStatement1)
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select ROW_NUMBER() OVER(ORDER BY E.EMP_NO) + (SELECT COUNT(*) FROM NS_AP_V_DETAILS where 1=1 and ' +@ConditionStatement+')+
					(SELECT COUNT(*) FROM NS_AR_CUSTOMER C  where 1=1 and '+@ConditionStatement1+' ) AS RowNumber, 
					@CountValue as TotalRowCount,E.EMP_NO as ''V_CODE'',E.EMP_L_NM as ''V_A_NAME'',E.A_CODE as ''V_A_CODE'' from NS_HR_S_EMP E where 1=1 and  '+@ConditionStatement2+'  ) Z )  
					select * FROM NS_AP_V_DETAILSTable')

					
                        
					   IF(@ConditionStatement <> '') OR (LEN(@ConditionStatement) > 0) OR (@ConditionStatement IS not NULL)
							BEGIN
							
								SET @SelectStatement = CONCAT(@SelectStatement, '  ',  
															
															CASE WHEN @RecordFrom is null or @RecordTo is null 
																THEN 
																	'' 
																ELSE 
																	CONCAT(' where RowNumber BETWEEN ', @RecordFrom,' AND ', @RecordTo) 
																END)
								SET @SelectStatementCount =CONCAT( N'SELECT @result = COUNT(1) FROM(select V_CODE,V_A_NAME,V_A_CODE from  NS_AP_V_DETAILS where 1=1 and '+@ConditionStatement+' union all 
								select C_CODE as ''V_CODE'',C_A_NAME as ''V_A_NAME'',C_A_CODE as ''V_A_CODE''
								FROM NS_AR_CUSTOMER where 1=1 and '+@ConditionStatement1+' union all select EMP_NO as ''V_CODE'',EMP_L_NM as ''V_A_NAME'',A_CODE as ''V_A_CODE'' FROM NS_HR_S_EMP where 1=1 and  '+@ConditionStatement2+'',')a')
							
							END
					
						SET @ParmDef = N'@result varchar(30) OUTPUT';
						
						EXECUTE  SP_EXECUTESQL @SelectStatementCount, @ParmDef, @result=@CountValue OUTPUT;
						EXECUTE  SP_EXECUTESQL @SelectStatement,N'@CountValue varchar(10)',@CountValue;
               END
					ELSE
					BEGIN
					 SET @SelectStatement = N'WITH NS_AP_V_DETAILSTable AS ( SELECT * FROM ('
                    SET @SelectStatement = CONCAT(@SelectStatement,'SELECT ROW_NUMBER() OVER(ORDER BY V.V_CODE)as RowNumber,@CountValue as TotalRowCount, ')
					
                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_CODE,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_A_NAME,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_A_CODE')
                    SET @SelectStatement = CONCAT(@SelectStatement,' FROM NS_AP_V_DETAILS V ')
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select ROW_NUMBER() OVER(ORDER BY C.C_CODE) + (SELECT COUNT(*) FROM NS_AP_V_DETAILS V) AS RowNumber,
					@CountValue as TotalRowCount,C.C_CODE as ''V_CODE'',C.C_A_NAME as ''V_A_NAME'',C.C_A_CODE as ''V_A_CODE'' from NS_AR_CUSTOMER C ')
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select ROW_NUMBER() OVER(ORDER BY E.EMP_NO) + (SELECT COUNT(*) FROM NS_AP_V_DETAILS V)+ (SELECT COUNT(*) FROM NS_AR_CUSTOMER C) AS RowNumber, 
					@CountValue as TotalRowCount,E.EMP_NO as ''V_CODE'',E.EMP_L_NM as ''V_A_NAME'',E.A_CODE as ''V_A_CODE'' from NS_HR_S_EMP E ) Z )  ')

					
                         IF(@V_CODE IS NOT NULL) OR (LEN(@V_CODE) > 0)
                            BEGIN
                             -- SET @ConditionStatement = CONCAT(@ConditionStatement,'V_CODE like ''',@V_CODE,'%'' AND ')
							 SET @ConditionStatement = CONCAT(@ConditionStatement,'V_CODE = ''',@V_CODE,''' AND ')
                            END
                       
                        IF(@V_A_NAME IS NOT NULL) OR (LEN(@V_A_NAME) > 0)
                            BEGIN
                          
							 SET @ConditionStatement = CONCAT(@ConditionStatement,'V_A_NAME = ''',@V_A_NAME,''' AND ')
                            END
						  IF(@V_A_CODE IS NOT NULL) OR (LEN(@V_A_CODE) > 0)
                            BEGIN
                            
							 SET @ConditionStatement = CONCAT(@ConditionStatement,'V_A_CODE = ''',@V_A_CODE,''' AND ')
                            END
					   IF(@ConditionStatement = '') OR (LEN(@ConditionStatement) = 0) OR (@ConditionStatement IS NULL)
							BEGIN
							
								SET @SelectStatement = CONCAT(@SelectStatement,' SELECT * FROM NS_AP_V_DETAILSTable', 
														CASE WHEN @RecordFrom is null or @RecordTo is null 
															THEN 
																'' 
															ELSE 
																CONCAT(' WHERE RowNumber BETWEEN ', @RecordFrom,' AND ', @RecordTo) 
															END)
								SET @SelectStatementCount = N'SELECT @result = COUNT(1) FROM(select V_CODE from  NS_AP_V_DETAILS union all select C_CODE as ''V_CODE''
								FROM NS_AR_CUSTOMER union all select EMP_NO as ''V_CODE'' FROM NS_HR_S_EMP) as Count';
								
							END
						
						SET @ParmDef = N'@result varchar(30) OUTPUT';
						
						EXECUTE  SP_EXECUTESQL @SelectStatementCount, @ParmDef, @result=@CountValue OUTPUT;
						EXECUTE  SP_EXECUTESQL @SelectStatement,N'@CountValue varchar(10)',@CountValue;
					END
                   
               END
 ELSE  IF(@Mode='GetAllVendor')
               BEGIN
			   
			   SET @SelectStatement = N'WITH NS_AP_V_DETAILSTable AS   ( SELECT '

                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_CODE,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_A_NAME,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'V.V_A_CODE')
                    SET @SelectStatement = CONCAT(@SelectStatement,' FROM NS_AP_V_DETAILS V ')
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select 
					C.C_CODE as ''V_CODE'',C.C_A_NAME as ''V_A_NAME'',C.C_A_CODE as ''V_A_CODE'' from NS_AR_CUSTOMER C ')
					SET @SelectStatement = CONCAT(@SelectStatement,' union  all ')
					SET @SelectStatement = CONCAT(@SelectStatement,'select  
					E.EMP_NO as ''V_CODE'',E.EMP_L_NM as ''V_A_NAME'',E.A_CODE as ''V_A_CODE'' from NS_HR_S_EMP E )   ')

	
					   IF(@ConditionStatement = '') OR (LEN(@ConditionStatement) = 0) OR (@ConditionStatement IS NULL)
							BEGIN
							
								SET @SelectStatement = CONCAT(@SelectStatement,' SELECT * FROM NS_AP_V_DETAILSTable', 
														CASE WHEN @RecordFrom is null or @RecordTo is null 
															THEN 
																'' 
															ELSE 
																CONCAT(' WHERE RowNumber BETWEEN ', @RecordFrom,' AND ', @RecordTo) 
															END)
								SET @SelectStatementCount = N'SELECT @result = COUNT(1) FROM(select V_CODE from  NS_AP_V_DETAILS union all select C_CODE as ''V_CODE''
								FROM NS_AR_CUSTOMER union all select EMP_NO as ''V_CODE'' FROM NS_HR_S_EMP) as Count';
								
							END
						
						SET @ParmDef = N'@result varchar(30) OUTPUT';
						
						EXECUTE  SP_EXECUTESQL @SelectStatementCount, @ParmDef, @result=@CountValue OUTPUT;
						EXECUTE  SP_EXECUTESQL @SelectStatement,N'@CountValue varchar(10)',@CountValue;
                   
               END
  ELSE IF(@Mode='CashBankNo')
               BEGIN
                    SET @SelectStatement = N'WITH NS_GL_CASH_IN_HAND_BANKTable AS '
                    SET @SelectStatement = CONCAT(@SelectStatement,'(SELECT ROW_NUMBER() OVER(ORDER BY CASH_NO )as RowNumber,@CountValue as TotalRowCount,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'CASH_NO,')
                    SET @SelectStatement = CONCAT(@SelectStatement,'CASH_NAME')
                    SET @SelectStatement = CONCAT(@SelectStatement,' FROM NS_GL_CASH_IN_HAND_BANK ')
				

                      
                       
                       IF(@CASH_TYPE_SAVE IS NOT NULL AND @CASH_TYPE_SAVE > 0)
							BEGIN
								SET @ConditionStatement = CONCAT(@ConditionStatement,'CASH_TYPE_SAVE=',@CASH_TYPE_SAVE,' AND ')
							END
					   IF(@ConditionStatement = '') OR (LEN(@ConditionStatement) = 0) OR (@ConditionStatement IS NULL)
							BEGIN
								SET @SelectStatement = CONCAT(@SelectStatement,' ) SELECT * FROM NS_GL_CASH_IN_HAND_BANKTable', 
														CASE WHEN @RecordFrom is null or @RecordTo is null 
															THEN 
																'' 
															ELSE 
																CONCAT(' WHERE RowNumber BETWEEN ', @RecordFrom,' AND ', @RecordTo) 
															END)
								SET @SelectStatementCount = N'SELECT @result = COUNT(1) FROM NS_GL_CASH_IN_HAND_BANK';
							END
						ELSE
							BEGIN
								SET @SelectStatement = CONCAT(@SelectStatement,' WHERE ',Left(@ConditionStatement,LEN(@ConditionStatement)-4),
															')  SELECT * FROM NS_GL_CASH_IN_HAND_BANKTable', 
															CASE WHEN @RecordFrom is null or @RecordTo is null 
																THEN 
																	'' 
																ELSE 
																	CONCAT(' WHERE RowNumber BETWEEN ', @RecordFrom,' AND ', @RecordTo) 
																END)
								SET @SelectStatementCount = CONCAT(N'SELECT @result =COUNT(1) from NS_GL_CASH_IN_HAND_BANK WHERE ',Left(@ConditionStatement,LEN(@ConditionStatement)-4))
							END
						SET @ParmDef = N'@result varchar(30) OUTPUT';

		
						EXECUTE  SP_EXECUTESQL @SelectStatementCount, @ParmDef, @result=@CountValue OUTPUT;
						EXECUTE  SP_EXECUTESQL @SelectStatement,N'@CountValue varchar(10)',@CountValue;
               END
End